:root{
    --color-bg-primary: #8C52E5;   
    --color-bg-secondary: #EAEAEA;
    --color-bg-card: #FBFBFB;
    --button-bg-default: #FFFFFF;
    --button-bg-green: #68DE5A;
    --button-color-default: #FFFFFF;
}
