.home {
    &__formulario{
        min-width: 100%;
        margin: 0 18%;
    }

    
    &__fml{
        width: 100%;
        min-height: 450px;
        text-align: center;
        //margin: 0 41%;
        background: #FBFBFB;
        border-radius: 8px;  
        padding: 0 21px;


        input{
            border-radius: 0;
            border: none;
            border-bottom: 1px solid #878686!important;
            margin: 21px 0;
        }

        input:focus, input:focus, select:focus {
            box-shadow: 0 0 0 0;
            border: 0 none;
            outline: 0;
        } 


    }



    .btn-primary:active:focus {
    box-shadow: 0 0 0 0;
    border:  none;
    outline: 0;
    box-shadow: none!important;
    background: #D8D8D8;
    } 

    &__txt-btn{
    float: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 28px;

    color: #9B9B9B;
    } 


    &__continua{
    width: 100%;
    border:none;
    background: #D8D8D8;
    border-radius: 20px;
    }


    &__vector2 {
    float: right;
    padding: 4px 16px;
    } 



    .form-control.is-invalid{
        border-bottom: 1px solid red!important ;
     }
}