<app-header></app-header>

<div class="card">
    <div class="card__header">
        <h1 class="card__title"> Faça seu login </h1>
    </div>
    <div class="card__body">
        <div>
            <input type="text" name="user" placeholder="Digite seu usuário" />
        </div>
        <div>
            <input type="password" name="password" placeholder="Digite sua senha"/>
        </div>
        <div class="card__action">
            <button class="button-default">
                <span>Continuar</span>
                <i class="fas fa-arrow-right"></i>
            </button>
        </div>
    </div>
    <div class="card__footer">
        <div class="card__link">
            <a href="#"> Esqueci minha senha > </a>
        </div>
        <div class="card__link">
            <a href="#"> Ainda não sou cliente > </a>
        </div>
    </div>
</div>
