<app-header></app-header>
<router-outlet></router-outlet>

<div class="container">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Faça seu login</h1>

            <form class="mb-4">
                <div class="mb-3">
                  <input type="email" class="form-control input-default" placeholder="Digite seu usuário">
                </div>
                <div class="mb-3">
                  <input type="password" class="form-control input-default" placeholder="Digite sua senha">
                </div>
                <div class="card__action">
                    <button class="btn button-default">
                        <span>Continuar</span>
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>              
            </form>

            <div class="card__footer">
                <div class="card__link">
                    <a routerLink="/login/recoverypass"> Esqueci minha senha > </a>
                </div>
                <div class="card__link">
                    <a href="#"> Ainda não sou cliente > </a>
                </div>
            </div>
        </div>
    </div>
</div>