@import "helpers/_constants";

.container{
    max-width: 100%;
    margin: o;
    padding: 0;

}


.home {
    //background-color: #8C52E5;


    &__register {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 801px;
    }

    &__register img {
        display: block;
    }

    &__register-description {
        background-color: orange;

        
    }
    &__img{
        background-color: green;
    }

    &__formulario{
        background-color: orangered;
    }

    &__register-description span {
        margin-top: 1rem;
    }

    &__benefits, &__invite {
        background-color: var(--color-bg-secondary) !important;
    }

    &__titulo1{
        position: relative;
        padding: 35% 15%;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 29px;
        line-height: 34px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        margin: auto;
    }

    &__radius{
        background: #FFFFFF;
        border-radius: 20px;
        text-decoration: none;
        width: 261px;
        bottom: 122px;
        position: relative;
        margin: 0 49px;

        
    }
    &__texto{
        width: 84.35px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 20px;
        display: flex;
        align-items: center;
        padding-left: 20px;
        color: #8C52E5;
    }

    &__vector{
        
        float: right;
    }

    .foto-principal{
        position: absolute;        
        left: 256px;
        top: 159px;

    }

    &__formulario{
        
    }

    &__titulo-form{
        margin: 50px;
        text-align: justify;  
    }

    &__txt-titulo{
        font-family: Roboto;
        font-style: normal;
        font-size: 19px;
        line-height: 22px;
        color: #000;
        font-weight: bold;
        
    }

    &__fml{
        position: absolute;
        width: 349px;
        height: 542.23px;
        left: 899px;
        top: 152px;
        text-align: center;
        margin: 21px;
        background: #FBFBFB;
        border-radius: 8px;

        input{
            margin: 21px;
            width: 270.59px;
            border-top: hidden;
            border-left: hidden;
            border-right: hidden;
            border-bottom: 1px solid #878686!important;
        }

        input:focus, input:focus, select:focus {
            box-shadow: 0 0 0 0;
            border: 0 none;
            outline: 0;
        } 

        
    }

    .btn-primary:active:focus {
        box-shadow: 0 0 0 0;
        border: 0 none;
        outline: 0;
    } 

    &__txt-btn{
        float: left;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 28px;
        
        color: #9B9B9B;
    } 


    &__continua{
        width: 276.74px;
        height: 47.66px;
        left: 992.9px;
        top: 619.6px;
        border:none;
        background: #D8D8D8;
        border-radius: 20px;
    }


    &__vector2 {
        float: right;
        padding: 4px 16px;
    } 



    /*--------------------------- Section 2 --------------------------*/
    &__benefits{
        display: inline-block;
    }

    &__benefits-primeiro{
        background-color: #000;
        display: inline-block;
    }

    &__titulo2{
        text-align: center;
        color: #68DE5A;
        
    }

    &__subtitulo1{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        line-height: 25px;
        display: flex;
        align-items: center;
        color: #68DE5A;
        //width: 459px;
        background-color: pink;
    }

    &__benefits-segundo{
        background-color: #fff;
        text-align: center;
        display: inline-block;
    }
    
    &__titulo3{
        text-align: center;
        color: #000;
    }



    /*----------------------------------- Section annuity-------------------------*/

    &__annuity{
        background-color: #8C52E5;
        display: inline-block;
        height: 700px;
    }

    &__annuity-primeiro{
        display: inline-block;
        margin-top: 16%;
        margin-left: 4%;
        width: 40%;

        h2{
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 42px;
            line-height: 49px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
        }
        p{
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 23px;
            line-height: 27px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
            margin-bottom: 0;
        }
    }

    &__annuity-segundo{
        display: inline-block;
        padding-left: 10%;

        span{
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 140px;
            line-height: 218px;
            display: flex;
            align-items: center;
            color: #68DE5A;
        }
    }

/*----------------------------------- Section end-complexity-------------------------*/
    &__end-complexity{
        background-image: url('../../assets/images/Rectangle 8.svg');
        background-color: #60C059;
        opacity: 0.7;
        height: 787px;
        background-position: 0% 28%;
    }

    &__end-complexity-unica{
        margin-top: 23%;
        margin-left: 10%;
        width: 50%;

        p{
            margin-bottom: 0;
            color: #fff;
        }
    }

    &__title-unica{
        color: #fff;
    } 

/*----------------------------------- Section invite-------------------------*/
    &__invite{
        height: 801px;
    }

    &__invite-primeira{
        margin: auto;
        display: inline-block;
        text-align: center;
        vertical-align: middle;  
        padding-left: 8%;

        p{
            text-align: justify;
        }

        
    }
    &__title-invite{
        text-align: justify;
    }

        

    &__invite-segunda{
        margin: auto;
        display: inline-block;
        text-align: center;
    }

    &__celphone{
        margin-top: 15%;

    }

}