<div class="container">
    <div class="home">
        <section class="home__register">
            <div class="home__register-description">
                <h1 class="home__titulo1"> Gama Bank é um projeto de nossos alunos. </h1>
                <span>Já tem conta?</span>
                <a href="" class="home__radius">  
                    <p class="home__texto">Acessar</p> 
                    <img class="home__vector" src="../../assets/images/seta.svg" />

                </a>
            </div>

    
            <img src="../../assets/images/happy.svg" />
    
            <!-- aqui entra form  -->
            <div>
                Peça sua conta e cartão de crédito do Gama Bank
                <button>Acessar</button>

            </div>
            <!-- aqui finaliza form  -->
        </section>
        <section class="home__benefits">
            <h3>Conta digital do Gama Academy</h3>
            <!-- aqui entra imagem -->
            <span>Rende mais que a poupança,
                sem taxa de manutenção
                nem tarifas escondidas.
            </span>
    
            <!-- aqui entra divisão visual  -->
    
            <h3>Cartão de Crédito</h3>
            <!-- aqui entra imagem -->
            <p>Rende mais que a poupança,
                sem taxa de manutenção
                nem tarifas escondidas.
            </p>
        </section>
        <section class="home__annuity">
            <h2 class="section__title">Zero anuidade</h2>
            <p>Burocraria custa caro. Somos eficientes, 
                para você não ter que pagar tarifas.
            </p>
            <span>0,00</span>
        </section>
        <section class="home__end-complexity">
            <h2 class="section__title">O fim da complexidade</h2>
            <p>Para quem sabe que tecnologia e design
                são melhores do que agência e papelada.
            </p>
        </section>
        <section class="home__invite">
            <h2 class="section__title">Simplifique sua vida. Peça seu convite.</h2>
            <p>GamaAcademy Bank Line S.A. - CNPJ 00.000.000/0000-00
                Rua Fictícia, 999 - 00000-000 - São Paulo, SP
                Este é um projeto de avaliação | GamaAcademy | Accenture | 2021
            </p>
        </section>
    </div>
</div>