<div class="container">
    <div class="home row ">
        <section class="home__register">
            <div class="home__register-description col-sm ">
                <div>
                    <h1 class="home__titulo1"> Gama Bank é um projeto de nossos alunos. <br><br>Já tem conta? </h1>
                
                    <button type="submit" class="btn btn-primary home__radius"> 
                        <img class="home__vector" src="../../assets/images/seta.svg" />
                        <p class="home__texto">Acessar</p> 
                        
                    </button>    
                </div>
            </div>

            <div class=" home__img col-sm ">
                <img class="img-fluid foto-principal " src="../../assets/images/happy.svg" />
            </div>
            <!-- aqui entra form  -->
            <div class="home__formulario  col-sm ">
                <form class="home__fml">
                    <div class="home__titulo-form">
                        <span class="home__txt-titulo">Peça sua conta e cartão de crédito do Gama Bank</span>
                    </div>

                    <div class="form-group">
                      <input type="text" class="form-control border-bottom" id="exampleInputCPF" aria-describedby="cpflHelp"  autocompçete="off" maxlength="11" placeholder="Digite seu CPF" required>
                    </div>
                    <input type="text" class="form-control" id="" name="" placeholder="Escolha um nome de usuário" required>
                    <input type="text" class="form-control"  id="" name="" placeholder="Nome Completo" required>
                    <div class="form-group">
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirme sua senha" required>
                    </div>
                    
                    <button type="submit" class="btn btn-primary home__continua"><span class="home__txt-btn">Continuar  </span>              
                        <img class="home__vector2" src="../../assets/images/Vector2.svg" />
                    </button>
                </form>

            </div>
            <!-- aqui finaliza form  -->
        </section>
        <section class="home__benefits col-sm-12 col-md-12 col-lg-12">
            
            <div class="home__benefits-primeiro col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3 class="home__titulo2">Conta digital do Gama Academy</h3>
                <img class="img-fluid home__img-primeira" src="../../assets/images/app-bg 1.svg">
                <p class="home__subtitulo1">Rende mais que a poupança,
                    sem taxa de manutenção
                    nem tarifas escondidas.
                </p>
            </div>
        
            <!-- aqui entra divisão visual  -->
            <div class="home__benefits-segundo col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3 class="home__titulo3">Cartão de Crédito</h3>
                <img class="img-fluid home__img-segundo " src="../../assets/images/app-bg 2.svg">
                <p class="home__subtitulo2">Rende mais que a poupança,
                    sem taxa de manutenção
                    nem tarifas escondidas.
                </p>
            </div>    

        </section>
        <section class="home__annuity">
            <div class="home__annuity-primeiro col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h2 class="section__title">Zero anuidade</h2>
                <p>Burocraria custa caro. Somos eficientes, </p>
                  <p> para você não ter que pagar tarifas.</p> 
                
            </div>
            <div class="home__annuity-segundo col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <span>0,00</span>
            </div>
        </section>
        <section class="home__end-complexity">
            <div class="home__end-complexity-unica">
                <h2 class="home__title-unica">O fim da complexidade</h2>
                <p>Para quem sabe que tecnologia e design</p>
                <p>são melhores do que agência e papelada.
                </p>
            </div>
        </section>
        <section class="home__invite">
            <div class="home__invite-primeira col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h2 class="home__title-invite">Simplifique sua vida. Peça seu convite.</h2>
                <p>GamaAcademy Bank Line S.A. - CNPJ 00.000.000/0000-00</p>
                <p>Rua Fictícia, 999 - 00000-000 - São Paulo, SP</p>
                <p>Este é um projeto de avaliação | GamaAcademy | Accenture | 2021</p>
                
            </div>
            <div class="home__invite-segunda col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <img class="img-fluid home__celphone" src="../../assets/images/pngkey 1.svg">
            </div>
        </section>
    </div>
</div>