@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

body, h1, h2 {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--color-bg-primary);
    font-family: 'Roboto', sans-serif;
}

.card {
    background-color: var(--color-bg-card);
    max-width: 455px;
    max-height: 422px;
    border-radius: 8px;
    display: grid;
    grid-gap: 15px;
    justify-content: center;
    margin: 5em auto;
    text-align: center;
    padding: 1.5em;

}

.button-default {
    border-radius: 20px;
    width: 95%;
    height: 42px;
    border-color: transparent;
    display: inline-flex;
    justify-content: space-between;
    padding: 1em 2em 1em 2em;
    align-items: baseline;
}

@media (max-width: 480px) {
    .card {
        margin: 2em auto;
        max-width: 15em;
    }
}